@import "tailwindcss";
@import "shadcn/tailwind.css";

@theme {
  --color-background: oklch(0.984 0.003 247.858);
  --color-foreground: oklch(0.21 0.03 256);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.21 0.03 256);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.21 0.03 256);
  --color-primary: oklch(0.378 0.077 168.94);
  --color-primary-foreground: oklch(0.984 0.003 247.858);
  --color-secondary: oklch(0.968 0.007 247.896);
  --color-secondary-foreground: oklch(0.378 0.077 168.94);
  --color-muted: oklch(0.968 0.007 247.896);
  --color-muted-foreground: oklch(0.554 0.027 256.848);
  --color-accent: oklch(0.769 0.166 70.08);
  --color-accent-foreground: oklch(0.279 0.041 260.031);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.929 0.013 255.508);
  --color-input: oklch(0.929 0.013 255.508);
  --color-ring: oklch(0.378 0.077 168.94);
  --color-chart-1: oklch(0.87 0 0);
  --color-chart-2: oklch(0.556 0 0);
  --color-chart-3: oklch(0.439 0 0);
  --color-chart-4: oklch(0.371 0 0);
  --color-chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --color-sidebar: oklch(0.985 0 0);
  --color-sidebar-foreground: oklch(0.145 0 0);
  --color-sidebar-primary: oklch(0.205 0 0);
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: oklch(0.97 0 0);
  --color-sidebar-accent-foreground: oklch(0.205 0 0);
  --color-sidebar-border: oklch(0.922 0 0);
  --color-sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
